# Служебные файлы систем
.DS_Store
Thumbs.db
desktop.ini

# Временные файлы редакторов
*~
*.tmp
*.bak
.vscode/
.idea/

# Записки, которые не нужны на сайте
ЧИТАТЬ-ПЕРВЫМ.txt
images/ПОЛОЖИТЕ-СЮДА-ФАЙЛЫ.txt
docs/ПОЛОЖИТЕ-СЮДА-ФАЙЛЫ.txt
